<h1 class='{{preferences.morals}} title'>Garden of Good and Evil!</h1>

<div id="container" class={{preferences.morals}}>
  <form action='/' method='post'>

    <div id='radio'>
    <label for='good'>Good</label>
    <input id='good' type='radio' name='morals' value='good' checked='checked'>
    <label for='evil'>Evil</label>
    <input id='evil' type='radio' name='morals' value='evil'>
    </div>

    <input id='real-name' name='name' type='text'>
    <input type='text' name='food' value='favorite-food'>

    <select name='color'>
      <option>Red</option>
      <option>Blue</option>
      <option>Yellow</option>
      <option>Chartreuse</option>
    </select>

    <input id="insanity-level" name="insanity-level" type="range" min="1" max="10">

    <input type='submit' value='Submit!!!!'>
  </form>

  <div id="main-hidden">

  {{#if preferences.good}}

  <div id = "list-container">
    <div class = "good likes">
      <ul> Things you like
        <li>{{preferences.color}}</li>
        <li>{{preferences.food}}</li>
        <li>Smooth jazz</li>
        <li>Chuck Norris</li>
        <li>Klondike bars</li>
      </ul>
    </div>
    <div class = "good dislikes">
      <ul> Things you hate
        <li>Murder</li>
        <li>Nascar</li>
        <li>Voldemort</li>
        <li>Martha Stewart</li>
        <li>Flatulence</li>
      </ul>
    </div>
  </div>

  {{else}}

  <div id = "list-container">
    <div class = "evil likes">
      <ul> Things you like
        <li>Dark {{preferences.color}}</li>
        <li>{{preferences.food}}</li>
        <li>Country rap</li>
        <li>Rick Astley</li>
        <li>Public Transportation</li>
      </ul>
    </div>
    <div class = "evil dislikes">
      <ul> Things you hate
        <li>Mary Poppins</li>
        <li>Red Headed children</li>
        <li>Christmas Cheer/Eggnog</li>
        <li>Punctuality</li>
        <li>Public Transportation</li>
      </ul>
    </div>
  </div>


  {{/if}}

  <article id='biography'>
    <h2>Your Biography</h2>

    {{#if preferences.good}}
    <p class='good'>Born in a cloud on Christmas Eve, you decended to Earth on
      the wings of a ladybug, to start a renewable energy company, and you
      always use prettier for code organization.</p>
      {{else}}
    <p class='evil'>Born from a canned bean dinner and lack of pepto bismol, you
      torment dreams of the elderly, and janitors everywhere. You use eclipse
      as your text editor, and write 20 line comments. You also troll the aspca's
     youTube page, daily.</p>

   </article>
   {{/if}}
   <article>

     <header>
          <h1>{{preferences.name}} | Software Engineer</h1>
          <address>
            <p>1455 Nobody Cares Lane</p>
            <p>Dundlehuffer, CA 12345</p>
            <p><a href = "www.google.com">WhatsMyNameAgain@gmail.com</a></p>
            <hr>
          </address>
        </header>
        <section>
          <h2>Goals</h2>
          {{#if preferences.isInsane}}
          <p>To obtain 1-Bajillion-Gajillion dollars for tacos!</p>
          {{else}}
          <p>To obtain ${{preferences.sanity}}0 for tacos.</p>
          {{/if}}
        </section>
        <section>
          <h2>Skills</h2>
            <ol>
              <li>Holds doors open</li>
              <li>Keeps up with Viking assessments</li>
              <li>Never asks to borrow a toothbrush</li>
              <li>Swimmer: Volunteer Lifeguard</li>
        </section>
        <section>
          <h2>Work Experience</h2>
          <table>
            <thead>
              <tr>
                <th>Time</th>
                <th>Company</th>
                <th>Location</th>
                <th>Position</th>
                <th>Responsibilities</th>
              </tr>
            </thead>
            <tr>
              <td>Time immemorial to tomorrow.</td>
              <td>Crayola Corp.</td>
              <td>Kindergarten</td>
              <td>District Supervisor of {{preferences.color}}.</td>
              <td>Ensured the appropriate respect of {{preferences.color}}.</td>
            <tr>
          </table>
        </section>
        <section>

        </section>

        <section>
          <h2>References</h2>
          <p>Available upon request</p>
          <img src='./images/color-bosses.jpeg'>
        </section>


   </article>

   </div>

</div>
